MONGO_URI=
PORT= #3000
FRONTEND_URL= # Needed for accessing APIs as CROS is enabled
JWT_SECRET=
JWT_SECRET_EXPIRES_IN= #1d
COOKIE_MAX_AGE= #86400
NODE_ENV= #production
AUTH_TYPE= #token or cookies
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=